* {
box-sizing: border-box;
}
header {
  background-color: white;
  text-align: center;
}
header img {
  max-width: 99%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#headerUl {
  border-top: 2px solid rgb(202, 202, 202);
  border-bottom: 2px solid rgb(202, 202, 202);
  margin-top: 15px;
}
header nav ul li {
  display: inline-block;
  padding: 10px;
}
h1 {
  text-align: center;
  font-size: 75px;
  font-family: 'Russo One', sans-serif;
  margin-top: 10px;
}
a {
  color: black;
  text-decoration: none;
  border-radius: 5px;
  padding: 7px;
  font-size: 17px;
}
a:hover {
  color: white;
  background-color: black;
  text-decoration: 5px;
}
body {
  background-color: rgb(253, 253, 253);
  font-family: 'Lato', sans-serif; 
}
.headerimg {
  width: 200px;
  height: 50px;
}
.storeName {
  background-color: white;
}

.familyimg {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.familybw {
  height: 150px;
  width: auto;
}

.familyimg .family-color {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  height: 150px;
  width: auto;
}
.familyimg:hover .family-color {
  display: inline;
}

